<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      You can always find me where research programming (Fortran, MATLAB, Python) and classical
      supercomputing (MPI, OpenMP) meets modern hardware (GPUs, TPUs) and performace optimization
      (C++, profiling, vectorization, etc.). I enjoy working as a trainer at
      <a href="{{ site.apcllc_url }}?ref=dmikushin-home" target="_blank">Applied Parallel Computing LLC</a>,
      a company that provides online and offline courses on CUDA, OpenCL, OpenACC and Machine Learning.
      I co-founded <a href="{{ site.purplegaze_url }}?ref=dmikushin-home" target="_blank">Purple Gaze Inc.</a>
      to show how inexpensive and fast eyetracking software can be. I collaborate with the
      <a href="{{ site.unil_url }}?ref=dmikushin-home" target="_blank">University of Lausanne</a> in
      scientific programming for economics and finance.
      Long time ago I started as a DevTech engineer at NVIDIA and got my Masters from Lomonosov Moscow State University.
      For more info, check out my coding
      <a href="{{ site.nav.main.writing }}">blog</a>, public 
      <a href="{{ site.nav.main.speaking }}">talks</a>, and
      <a href="{{ site.nav.main.projects }}">projects</a>.
    </p>  
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
