<div class="center">
  <a href="{{ site.base_url }}">
    {% include image.html path=site.thumbnail_path alt=site.name class="border bg-white p1 border-light-gray circle square-100" %}
  </a>
  {% include header-h1.html %}
  <h2 class="page-description body-font gray mt0 h3 regular">
    Co-founder of <a href="{{ site.purplegaze_url }}?ref=dmikushin-home" target="_blank">Purple Gaze Inc.</a><br>
    Owner of <a href="{{ site.apcllc_url }}?ref=dmikushin-home" target="_blank">Applied Parallel Computing LLC</a>
  </h2>
</div>
